<ion-grid>
  <ion-row class="ion-justify-content-center  ion-margin-top">
    <ion-col size="6">
      <ion-avatar class="item-avatar cv-m-auto"  >
        <ion-img src="/../assets/mypic3.png"></ion-img>
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-row>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center ion-margin-top">Junior Java Developer</ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-grid>
        <ion-row>
          <ion-col sizeLg="3" size="0"></ion-col>
          <ion-col>
            <ion-button  class="cv-align-center" fill="clear" href="https://www.linkedin.com/in/ivaniuk-nazarii-773556162" target="_blank">
            <ion-icon name="link-outline" slot="start"></ion-icon><ion-label class="d-sm-n">Linked In</ion-label>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="cv-align-center" fill="clear" href="mailto:ivaniuk.nazarii@gmail.com">
            <ion-icon name="mail-outline" slot="start"></ion-icon><ion-label class="d-sm-n">Ivaniuk.Nazarii@gmail.com</ion-label>
              </ion-button>
          </ion-col>
          <ion-col sizeLg="3" size="0"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
