.cv-m-auto{
  margin: auto !important;
}
.cv-w100 {
  width:100% !important;
}
.cv-h100 {
  width:100% !important;
}
.cv-align-center{
  width:100% !important;
  height : 100% !important;
  margin: auto !important;
}
